body {
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Tahoma", sans-serif;
  text-transform: uppercase;
  background-color: #f8f5f2;
  padding: 0;
  margin: 0;
  min-width: 960px;
}
/* Шрифты */
.header-breadcrumbs {
  font-size: 24px;
  line-height: 1.25em;
}

.header-main {
  font-size: 30px;
  line-height: 1.4em;
}

/* Центровщик + clearfix */
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Шапка сайта */

.main-header {
  margin-bottom: 60px;
  background: #000000;
  color: #ffffff;
}


.navigation {
  min-height: 70px;
  float: left;
  width: 780px;
}

.logo {
  width: 140px;
  display: inline-block;
  vertical-align: center;
}

.main-navigation {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
}


.login-btn {
  min-height: 70px;
  float: right;
  max-width: 140px;
  background: #000000;
}

.login-btn a {
  text-decoration: none;
  color: #ffffff;
}


/*main навигация*/

.content {
  background: #f8f5f2;
}

.main-nav li {
  display: inline-block;
  vertical-align: center;
}

.main-nav {
  margin-bottom: 60px;
  padding: 0;
}

.main-navigation a {
  text-decoration: none;
  color: #ffffff;
}

.main-nav a {
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  display: inline-block;
  vertical-align: center;
}

/*Формы*/
.filters {
  float: left;
  width: 220px;
  margin-right: 10px;
}

.filters label {
  display: block;
  margin-bottom: 17px;
}

.brand {
  margin-bottom: 60px;
}

.brand legend {
  margin-bottom: 35px;
}

.groups legend {
  margin-bottom: 35px;
}

/*Карточки товаров*/
.products {
  width: 700px;
  float: right;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 45px;

}

.products-item {
  display: inline-block;
  width: 220px;
  margin-right: 10px;
  margin-bottom: 20px;
  vertical-align: top;
}

.products-item span {
  text-transform: capitalize;
}

.products-item a {
  text-decoration: none;
  color: #000000;

}

.products h2 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

/*Пагинация*/
.page-btn-item li {
  display: inline-block;
  width: 45px;
  height: 45px;
  vertical-align: center;
}

.page-btn-item a {
  text-decoration: none;
  color: #000000;
}

.page-btn {
  margin-left: 250px;
}

.page-btn-list li {
  display: inline-block;
  vertical-align: center;
}

.brand,
.groups {
  margin: 0;
  padding: 0;
  border: 0;
}

.filters input {
  display: none;
}

/*ПОдвал*/
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #222;
  color: #ffffff;
}

.contacts {
  float: left;
  width: 320px;
}

.social {
  float: left;
  width: 180px;
  margin-right: 60px;
}

.creator {
  float: right;
  width: 180px;
}

.main-footer a {
  text-decoration: none;
  color: #ffffff;
}


/*Навигация каталога*/

.header-breadcrumbs-catalog {
  margin-bottom: 30px;
}

.main-nav-catalog li {
  display: inline-block;
  vertical-align: center;
}

.main-nav-catalog a {
  text-decoration: none;
  color: #000000;
}

.main-nav-catalog {
  padding: 0;
}

/*Левая колонка*/

.col-left {
  float: left;
  width: 470px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.bottom img {
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
  width: 140px;
  float: left;
  vertical-align: center;
}

.bottom img:last-child {
  margin-right: 0;
  margin-right: 0;
}

.col-right {
  float: right;
  width: 390px;
  margin-right: 10px;
  margin-top: 60px;
}

