body {
    font-size: 14px;
    line-height: 1.2em;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    background: #f8f5f2;
}
/* Шрифты */
.header-breadcrumbs {
    font-size: 24px;
    line-height: 1.25em;
}

.header-main {
    font-size: 30px;
    line-height: 1.4em;
}

