body {
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  font-family: "PT Sans Narrow", "Tahoma", sans-serif;
  text-transform: uppercase;
  background-color: #f8f5f2;
  padding: 0;
  margin: 0;
  min-width: 960px;
  background-image: url("../img/backgrounds/main.png");

}

img {
  max-width: 100%;
  height: auto;
}

/* Шрифты */
.header-breadcrumbs {
  font-size: 30px;
  line-height: 1.4em;
  margin-top: -7px;
}

.header-main {
  font-size: 30px;
  line-height: 1.4em;
}

/* Центровщик + clearfix */
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Шапка сайта */

.main-header {
  margin-bottom: 50px;
  background: #000000;
  color: #ffffff;
}

.main-navigation {
  float: left;
  width: 780px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  min-height: 78px;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  color: #ffffff;
}

.main-navigation a:hover {
  background-color: #242424;
}

.main-navigation:hover .logo {
  background-color: #000000;
}

.user-block {
  float: right;
  max-width: 140px;

}

.login-btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 25px 20px;
  padding-left: 58px;
}

.login-btn:hover {
  background-color: #242424;
}

.login-btn::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 28px;
  width: 18px;
  height: 16px;
  background-image: url("../img/sprite.png");
  background-position: -10px -94px;
  background-repeat: no-repeat;
  display: block;
  opacity: 0.3;
}

.login-btn:hover::before {
  opacity: 1;
}


/*main навигация*/

.content {
  background: #f8f5f2;
}

.main-nav li {
  display: inline-block;
  vertical-align: top;
<<<<<<< HEAD
=======
  padding-right: 15px;
>>>>>>> dop
}

.main-nav {
  margin-bottom: 60px;
  padding: 0;
}

.main-nav a {
  text-decoration: none;
  color: #ffffff;
  padding-right: 18px;
}

.main-nav a {
  text-decoration: none;
  color: #000000;
}

.main-navigation {
  display: inline-block;
  vertical-align: top;
}


/*Формы*/
.filters {
  float: left;
  width: 220px;
  margin-right: 10px;
  margin-top: -10px;
}

.filters label {
  display: block;
  margin-bottom: 17px;
}

.brand {
  margin-bottom: 60px;
}

.brand legend {
  margin-bottom: 35px;
}

.groups legend {
  margin-bottom: 35px;
}

/*Карточки товаров*/
.products {
  width: 700px;
  float: right;
  margin-left: 10px;
  font-size: 14px;
  margin-bottom: 45px;
}

.products-item {
  display: inline-block;
  width: 220px;
  margin-right: 10px;
  margin-bottom: 20px;
  vertical-align: top;
}

.products-item span {
  text-transform: capitalize;
}

.products-item a {
  text-decoration: none;
  color: #000000;
}

.products h2 {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

/*Пагинация*/
.page-btn-item li {
  display: inline-block;
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

.page-btn-item a {
  text-decoration: none;
  color: #000000;
}

.page-btn {
  margin-left: 250px;
}

.page-btn-list li {
  display: inline-block;
  vertical-align: middle;
}

.brand,
.groups {
  margin: 0;
  padding: 0;
  border: 0;
}

.filters input {
  display: none;
}

/*ПОдвал*/
.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  background: #222;
  color: #ffffff;
}

.contacts {
  float: left;
  width: 320px;
}

.social {
  float: left;
  width: 180px;
  margin-right: 60px;
  font-size: 0;
}

.creator {
  float: right;
  width: 180px;
}

.main-footer a {
  text-decoration: none;
  color: #ffffff;
}


/*Навигация каталога*/

.header-breadcrumbs-catalog {
  margin-bottom: 23px;
}

.main-nav-catalog li {
  display: inline-block;
  vertical-align: top;
  padding-right: 15px;
  position: relative;
}

.main-nav-catalog a {
  text-decoration: none;
  color: #000000;
  padding-right: 18px;
}

.main-nav-catalog a:first-child {
  padding-right: 15px;
}

.main-nav-catalog .link-grey {
  color: #aba9a7;
}
/*Левая колонка*/

.gallery-col-left {
  float: left;
  width: 470px;
  margin-right: 10px;
  margin-top: 43px;
  margin-bottom: 50px;
}

.bottom img {
  margin-top: 20px;
  margin-right: 20px;
  display: inline-block;
  width: 140px;
  float: left;
  vertical-align: middle;
}

.bottom img:last-child {
  margin-right: 0;
  margin-right: 0;
}

.gallery-col-right {
  float: right;
  width: 390px;
  margin-top: 65px;
}

.art {
  padding-left: 175px;
  color: #aeaeae;
}

.gallery-col-right p {
    padding-top: 20px;
    font-size: 14px;
    line-height: 24px;
    white-space: pre-line;
}

.link-text {
  color: #000000;
  text-decoration: none;
}

.price-buy {
  display: inline-block;
  width: 187px;
  font-size: 0px;
  white-space: nowrap;
  margin-bottom: 61px;

}

.price {
    display: inline-block;
    margin-top: 21px;
    margin-left: 2px;
    background-color: #e5e5e5;
    padding: 14px 28px 15px 26px;
    color: #000000;
    font-size: 14px;

  }

.price-buy a {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    display: inline-block;
    font-size: 14px;
    padding: 13px 17px 14px 17px;
}

.price-buy a:hover {
  background-color: #663d15;
}

.set span {
    font-size: 24px;
    line-height: 30px;
}

.set-list {
    padding-top: 16px;
    margin-left: -19px;
    list-style-image: url(../img/icons/ul.png);
}

.set-list li {
  margin-bottom: 8px;
}